@import "../../assets/styles/mixins";

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothinig: grayscale;
    color: var(--text-color);
    background-color: var(--tertiaire);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    color: white;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

@include responsive(tablet) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

@include responsive(mobile) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}