.b1{
    background-color: red;
    border-color: red;
}
.b2{
    background-color: blue;
    border-color: blue;
}
.b3{
    background-color: purple;
    border-color: purple;
}
.b4{
    background-color: yellow;
    border-color: yellow;
}