.btn {
    border-radius: var(--border-radius);
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid;
    transition: border-color 0.25s;
}

.btn-primary {
    color: white;
    border-color: var(--primary);
    background-color: var(--primary);
}

.btn-primary:hover {

    background-color: white;
    color: var(--primary);
}


.card {

}

.card-element {
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    height: 150px;
}