.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.m-5{
    margin: 5px;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.my-5{
    margin-top: 5px;
    margin-bottom: 5px;

}
.container{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}