:root {
    --primary: #02Df82;
    --secondaire: #03624c;
    --tertiaire: #030f0f;
    --grey: #fefefe;
    --font-synthesis: none;
    --text-rendering: optimizeLegibility;
    --font-family: "poppins", "sans-serif";
    --box-shadow: 0 6px 9px 0 rgb(0 0 0/15%);
    --box-shadow-nav: 0 6px 18px 0 rgb(0 0 0/100%);
    --text-color: rgb(255 255 255/60%);
    --border-radius: 10px;
}