@import "../../assets/styles/mixins";

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-content: end center;
    gap: 30px;
    background-color: #041212;

    @include responsive(tablet) {
        display: flex;
        flex-direction: column;

    }
}

.greeting {
    padding: 10px;
}