@use "./base";
@use "./flex";
@use "./utils";
@use "./variables";
@use "./theme";
@use "./mixins";

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}