@import "../../assets/styles/mixins";

.grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    place-content: end center;
    gap: 30px;

    @include responsive(tablet) {

        display: flex;
        flex-direction: column;
        gap: 0;

        img {
            display: none;
        }
    }
}