.button{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 90%;
    font-weight: 600;
    font-family: var(--font-family);
    text-align: center;
    border-radius: 50%;
    color: var(--tertiaire);
    background-color: var(--primary);
    border-color: var(--primary);

}